.akun{
    margin-top: 8%;
}

.signup{
    text-align: center;
    font-family: 'Lato';
    font-weight: 800;
    font-size: 300%;
}

.isi{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
}

.sbmt{
    margin-top: 2%;
    margin-left: 44%;
    font-family: 'Cambria';
    font-weight: 400;
}

.pindah{
    margin-left: 60%;
}

.gak-punya{
    font-family: 'Cambria';
    font-weight: 400;
    margin-top: 1%;
}

.smk{
    margin-top: -1%;
    font-family: 'Lato';
    font-weight: 600;
}